@model IEnumerable<BusinessEntities.Entities.Game.TeamSongVM>

@{
    if (Model != null && Model.Count() > 0)
    {
        var max = Model.Max(x => x.VoteCount);

        
        var sortedModel = Model.ToList();
        sortedModel.Sort((first, second) => { return second.VoteCount.CompareTo(first.VoteCount); });

        foreach (var item in sortedModel)
        {
            if (item.VotingDone != true)
            {
                <input type="hidden" id="songUrl_@item.ID" value="@item.SongURL" />
                <div class="card mt-2 @( item.VoteCount==max && item.VoteCount >0?"bg-warning-400 border-custom" : "" )" id="votingItem_@item.ID">
                    <div class="card-body py-2">
                        <div class="row">
                            <div class="col-md-2 my-auto px-1">
                                <a href="javascript:void(0);" class="btn bg-warning-300 btn-lg btn-icon rounded-circle waves-effect waves-themed fs-xxl fw-700">
                                    @item.VoteCount
                                </a>
                            </div>
                            <div class="col-md-5 my-auto px-1">
                                <h2 class="text-dark font-weight-bold mb-0"><a style="text-decoration: none !important; color:black" href="@item.ExternalUrl" target="_blank">@item.Name</a> </h2>
                            </div>
                            <div class="col-md-2 my-auto px-1">
                                @*Code commented after VCR team feedback (2020-12-02)*@
                                @*<button class="btn btn-icon btn-outline-danger rounded-circle playSongBtn" data-URL="@item.SongURL" data-ID="@item.ID" id="playSong_@item.ID" href="@item.ExternalUrl"><i class="fas fa-play"></i></button>
                                <button class="btn btn-icon btn-outline-danger rounded-circle ml-2 d-none pauseSongBtn" data-URL="@item.SongURL" data-ID="@item.ID" id="stopSong_@item.ID"><i class="fas fa-stop"></i></button>*@
                            </div>
                            <div class="col-md-3 d-flex justify-content-end px-1">
                                <div class="my-auto">
                                    <span class="badge text-uppercase fw-700 py-2" style="font-size:1.5rem ; min-width: 170px;">@item.TeamName</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
    }
    }

}
