<!DOCTYPE html>
<html lang="en" class="root-text-xl">
<head>
    @{
        int applicationversion = 10016;
    }
    <meta charset="utf-8">
    <title>
        Game Dine Hub
    </title>
    <meta name="description" content="Bingo">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <!-- Call App Mode on ios devices -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- base css -->
    @Styles.Render("~/Assets/css/vendors.bundle.css")
    @Styles.Render("~/Assets/css/app.bundle.css")

    @RenderSection("Styles", false)
    <!-- Place favicon.ico in the root directory -->

    <link rel="apple-touch-icon" sizes="180x180" href="~/Assets/img/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Assets/img/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="~/Assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link id="mytheme" rel="stylesheet" href="~/Assets/css/fa-solid.css">
    <link id="mytheme" rel="stylesheet" href="~/Assets/css/fa-brands.css">
    <link id="mytheme" rel="stylesheet" href="~/Assets/css/fa-regular.css">
    <link id="mytheme" rel="stylesheet" href="/Assets/css/themes/cust-theme-3.css">
    <link href="~/Assets/css/notifications/sweetalert2/sweetalert2.bundle.css" rel="stylesheet" />
    <link href="~/Assets/css/formplugins/bootstrap-duallistbox/bootstrap-duallistbox.css" rel="stylesheet" />
    <link href="~/Assets/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" media="screen, print" />
    <link href="~/Assets/css/WinningBg.css" rel="stylesheet" />
    <link href="~/Assets/css/formplugins/select2/select2.bundle.css" rel="stylesheet" />
    <link rel="stylesheet" media="screen, print" href="~/Assets/css/notifications/toastr/toastr.css">
    <link href="~/Assets/css/custom.css?v=@applicationversion" rel="stylesheet" />
    <script src="~/Assets/js/vendors.bundle.js"></script>
    <script src="~/Assets/js/winningBg.js"></script>
    <style>

        @@import url('https://fonts.cdnfonts.com/css/molisa-delawere');

        .page-wrapper {
            overflow: hidden
        }

        .login-bg-img::after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: "";
            /* background: linear-gradient(0deg, rgb(211 81 5 / 76%) 25%, rgb(248 148 18 / 69%) 83%);*/
            width: 100%;
            height: 100%;
        }

        .img-text-login {
            position: relative;
            z-index: 100;
        }

        .VoteButtonStyle {
            background: rgb(236,181,76);
            background: linear-gradient(180deg, rgba(236,181,76,0.8379726890756303) 1%, rgba(225,152,39,1) 56%, rgba(236,176,61,0.8995973389355743) 100%);
            border: 2px solid white !important;
        }


        body {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

            body.background {
                background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
                background-size: 400% 400%;
                animation: Gradient 15s ease infinite;
                position: relative;
                height: 100vh;
                width: 100%;
                overflow: hidden;
            }

                body.background .cube {
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    border: solid 10px #D7D4E4;
                    transform-origin: top left;
                    transform: scale(0) rotate(0deg) translate(-50%, -50%);
                    animation: cube 12s ease-in forwards infinite;
                }

                    body.background .cube:nth-child(2n) {
                        border-color: #FFF;
                    }

                    body.background .cube:nth-child(2) {
                        animation-delay: 2s;
                        left: 25vw;
                        top: 40vh;
                    }

                    body.background .cube:nth-child(3) {
                        animation-delay: 4s;
                        left: 75vw;
                        top: 50vh;
                    }

                    body.background .cube:nth-child(4) {
                        animation-delay: 6s;
                        left: 90vw;
                        top: 10vh;
                    }

                    body.background .cube:nth-child(5) {
                        animation-delay: 8s;
                        left: 10vw;
                        top: 85vh;
                    }

                    body.background .cube:nth-child(6) {
                        animation-delay: 10s;
                        left: 50vw;
                        top: 10vh;
                    }

        /* Keyframe animations */
        @@keyframes Gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        @@keyframes cube {
            0% {
                transform: scale(0) rotate(0deg) translate(-50%, -50%);
                opacity: 1;
            }

            50% {
                transform: scale(1.2) rotate(360deg) translate(-50%, -50%);
                opacity: 0.7;
            }

            100% {
                transform: scale(0) rotate(720deg) translate(-50%, -50%);
                opacity: 0;
            }
        }
    </style>
    <script>

        if (!!document.documentMode) {
            alert("It's highly recomended to use Chrome browser for this application. Thanks");
        }
    </script>
</head>
<body class="desktop chrome webkit pace-done blur background">


        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>

    <!-- DOC: script to save and load page settings -->
    <!-- BEGIN Page Wrapper -->
    <div class="page-wrapper">

        <div class="page-inner">
            <div class="page-content-wrapper m-0 login-bg-img" style="background: url('../../Assets/img/backgrounds/') no-repeat center fixed;">

                <!-- BEGIN Page Content -->
                <!-- the #js-page-content id is needed for some plugins to initialize -->
                <div class="flex-1 img-text-login">
                    @RenderBody()
                    @* @{Html.RenderPartial("_BreadCrumb");}*@
                    @*<div id="container pb-4 my-lg-5 px-4 px-sm-0">

                        </div>*@
                </div>
                <!-- this overlay is activated only when mobile menu is triggered -->
                <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div> <!-- END Page Content -->
                <!-- BEGIN Page Footer -->
                @{Html.RenderPartial("_PageNoNavFooter");}
                <!-- END Page Footer -->
                <!-- BEGIN Shortcuts -->
            </div>
        </div>
    </div>
    <!-- END Page Wrapper -->
    @RenderSection("Scripts", false)
    <!-- base vendor bundle:
      DOC: if you remove pace.js from core please note on Internet Explorer some CSS animations may execute before a page is fully loaded, resulting 'jump' animations
                 + pace.js(recommended)
                 + jquery.js(core)
                 + jquery-ui-cust.js(core)
                 + popper.js(core)
                 + bootstrap.js(core)
                 + slimscroll.js(extension)
                 + app.navigation.js(core)
                 + ba-throttle-debounce.js(core)
                 + waves.js(extension)
                 + smartpanels.js(extension)
                 + src/../jquery-snippets.js(core) -->

    <script src="~/Assets/js/app.bundle.js"></script>
    <script src="~/Assets/js/formplugins/bootstrap-duallistbox/jquery.bootstrap-duallistbox.js"></script>
    <script src="~/Assets/js/common.js?v=@applicationversion"></script>
    <script src="~/Assets/js/notifications/sweetalert2/sweetalert2.bundle.js"></script>
    <script src="~/Assets/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Assets/js/statistics/flot/flot.bundle.js"></script>
    <script src="~/Assets/js/notifications/toastr/toastr.js"></script>
    <script src="~/Assets/js/formplugins/select2/select2.bundle.js"></script>
    <!--begin::Signal R -->
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/hub-call.js"></script>
    <!--end:: Signal R -->


    @RenderSection("Scripts", false)
    <!-- Start Overlay -->
    <div class="row d-none" id="overlay">
        <div class="overlaytextholder">
            <div class="d-block " id="overlaybgimg" role="status" aria-hidden="true">
                <img src="~/Assets/img/favicon/favicon-16x16.png" class="profile-image spinner-grow bg-warning-50 profile-image rounded-circle">
            </div>
            <div class="overlaytext">
                <strong class="text-white">Loading Please Wait...</strong>
            </div>
        </div>
    </div>
    <!-- END Overlay -->

</body>
</html>

