@model IEnumerable<BusinessEntities.Entities.Account.UserInfoVM>
@using BusinessEntities.Enums;
@{
    //Layout = "";
    var list = Model.ToList();
}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <img class="width-5 mr-3" src="~/Assets/img/svg/teamwork.svg" />
                <h2 class="text-truncate text-info fs-xl">
                    Users
                </h2>
                <div class="panel-toolbar">
                    <span data-toggle="modal" data-target="#manageUsersModal">
                        <a href="javascript:void(0);" id="addBtn" class="btn btn-sm  btn-success shadow-0 mr-3" data-toggle="tooltip" data-placement="top" title="Add User">
                            <i class="fal fa-plus mr-1"></i> Add User
                        </a>
                    </span>
                    <a href="javascript:void(0);" onclick="location.reload();" class="btn btn-sm  btn-warning shadow-0 refreshBtn" data-toggle="tooltip" data-placement="top" title="Refresh List">
                        <i class="fal fa-sync mr-1"></i> Refresh
                    </a>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!-- datatable Start -->
                    <table id="RecordsGrid" class="table table-bordered table-hover table-striped table-sm w-100">
                        <thead class="bg-primary-900">
                            <tr>
                                <th class="d-none">custom filter <!--DO NOT REMOVE--></th>
                                <th><i class="fal fa-user-plus mr-1"></i> User Role</th>
                                <th><i class="fal fa-user mr-1"></i> Full Name</th>
                                <th><i class="fal fa-envelope mr-1"></i> Email</th>
                                <th><i class="fal fa-mobile mr-1"></i> Mobile </th>
                                <th><i class="fal fa-toggle-on mr-1"></i> Is Active?</th>
                                <th align="center"><i class="fal fa-bolt mr-1"></i> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    var userRoles = "";
                                    if (item.UserRoles != null)
                                    {
                                        foreach (var role in item.UserRoles)
                                        {
                                            userRoles = userRoles + role.RoleName + ", ";
                                        }
                                        userRoles = userRoles.TrimEnd(' ').TrimEnd(',');
                                    }

                                    <tr>
                                        <td class="d-none">@item.Active</td>
                                        <td align="center"><span class="badge badge-pill @(userRoles=="SuperAdmin"?"badge-success": userRoles=="User"?"badge-danger":"")">@userRoles</span></td>
                                        <td>@item.FullName</td>
                                        <td><a href="mailto:@item.Email">@item.Email</a></td>
                                        <td>@(!string.IsNullOrEmpty(item.MobileNo) ? "(" + item.MobileNo.Substring(0, 3) + ") " + item.MobileNo.Substring(3, 3) + "-" + item.MobileNo.Substring(6, 4) : "N/A")</td>
                                        @*<td>@userRoles</td>*@
                                        <td align="center">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input activeSwitch" data-id="@item.UserId" id="activeSwitch_@item.UserId" @(item.Active ? "checked" : "")>
                                                <label class="custom-control-label" for="activeSwitch_@item.UserId"></label>
                                            </div>
                                        </td>
                                        <td align="center">
                                            <span data-toggle="modal" data-target="#manageUsersModal">
                                                <a href="javascript:void(0);"
                                                   data-recordid="@item.UserId"
                                                   data-FirstName="@item.FirstName"
                                                   data-MiddleName="@item.MiddleName"
                                                   data-LastName="@item.LastName"
                                                   data-Email="@item.Email"
                                                   data-Title="@item.Title"
                                                   data-PhoneNo="@item.PhoneNo"
                                                   data-MobileNo="@item.MobileNo"
                                                   data-fk_GenderID="@item.fk_GenderID"
                                                   @*data-FullName="@item.FullName" *@
                                                   data-Active="@item.Active"
                                                   data-UserRoles="@string.Join(",", item.UserRoles.Select(x=>x.RoleID).ToArray())"
                                                   class="editBtn btn btn-xs  btn-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit User">
                                                    <i class="fal fa-edit"></i> Edit
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <!-- datatable End -->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="customFilterUser" class="d-none">
    <div class="float-left mr-3">
        <select class="form-control customFilter">
            <option value=""> All </option>
            <option value="true">Active</option>
            <option value="false">In-Active</option>
        </select>
    </div>
</div>

@Html.Partial("~/Views/Modal/_ManageUserModal.cshtml")


<script>
    var tables;
    $(document).ready(function () {
        tables = $('#RecordsGrid').DataTable({
            responsive: true,
            "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            language: {
                searchPlaceholder: "Filter"
            }
        });
        // Custom Filter
        $(document).on('change', '.customFilter', function () {
            tables.columns(0).search(this.value).draw();

        });
        $('#RecordsGrid_filter').closest('div').append($('#customFilterUser').html());
        $(".customFilter").val("true").trigger("change");
        //pageSetUp();
        $('.PhysicianSection').hide();

        ////$("select").select2({ width: "100%" });
        //// For Active DeActive User
        $(document).off('change', ".activeSwitch").on('change', ".activeSwitch", function (e) {
            let _that = this;
            var _isUserActive = ($(_that).is(':checked') == true ? "Activate" : "Deactivate");
            ilms.showDecisionAlert("", "You want to " + _isUserActive + " user.", "info", "Yes", function () {
                var recordID = $(_that).attr('data-id');
                var isUserActive = ($(_that).is(':checked') == true ? true : false);
                // Update Record
                var dataRequest = { userID: recordID, active: isUserActive };
                // console.log(dataRequest);
                var pageUrl = ilms.routers.ActiveInActiveUser;
                ilms.ajaxPostCall(pageUrl, dataRequest, function (data) {
                    // console.log(data);
                    if (data == true) {
                        ilms.showAlertWithType('User ' + _isUserActive + 'd successfully.', 'success');
                    } else {
                        ilms.toggleSwitch(_that, !$(_that).is(':checked'), 'Active');
                        ilms.showAlertWithType('Something went wrong!! Please Contact to administrator.', 'error');
                    }
                });
            }, function () { ilms.toggleSwitch(_that, !$(_that).is(':checked'), 'Active'); }, "No", true, true);
        });

        //var $RecordsGrid = $('#RecordsGrid');
        //var table = $RecordsGrid.DataTable();
        $('#addBtn').click(function (e) {
            ilms.resetFormForAdd($('#formManageUserRoles'));
            $("#btnSaveUser").html('<span class="fal fa-save mr-1"></span>Create');
            $('#cbActive').prop('checked', true);
        });
        // For Edit User
        $(document).off('click', ".editBtn").on('click', ".editBtn", function (e) {
            e.preventDefault();
            var roleIdList = $(this).attr('data-UserRoles').split(',');
            //set user roles in look up
            if (roleIdList != "" && roleIdList != null && roleIdList != undefined) {
                $('#UserRole').val(roleIdList).trigger('change');
            } else {
                $('#UserRole').val([]).trigger('change');
            }
            var recordid = $(this).attr("data-recordid");
            $('#UserId').val(recordid);
            $('#FirstName').val($(this).attr('data-FirstName'));
            $('#MiddleName').val($(this).attr('data-MiddleName'));
            $('#LastName').val($(this).attr('data-LastName'));
            $('#FullName').val($(this).attr('data-FullName'));
            $('#PhoneNo').val($(this).attr('data-PhoneNo'));
            $('#MobileNo').val($(this).attr('data-MobileNo'));
            $('#fk_GenderID').val($(this).attr('data-fk_GenderID')).trigger('change');
            $('#Email').val($(this).attr('data-Email'));

            $('#cbActive').prop('checked', $(this).closest('tr').find('.activeSwitch').is(':checked') ? true : false); // Checks it for IsActive
            $("#btnSaveUser").html('<span class="fal fa-save mr-1"></span>Update');
        });

        $(document).off('click', ".resetPasswordBtn").on('click', ".resetPasswordBtn", function (e) {
            $('#txtResetPassEmail').val($(this).attr('data-Email'));
            $('#userEmailForConfirmReset').text($('#txtResetPassEmail').val());
            $('#modalResetPasswordNotes').modal('show');
        });

        $(document).off('click', '#btnConfirmResetPassword').on('click', '#btnConfirmResetPassword', function (e) {
            e.stopPropagation();
            e.preventDefault();
            if ($('#txtResetPasswordNote').val() == '') {
                ilms.notification(ilms.box.Warning, 'Please enter reason message for reset password.');
                return false;
            }
            else {
                var _email = $('#txtResetPassEmail').val();
                var _note = $('#txtResetPasswordNote').val();
                var dataObj = {
                    userEmail: _email,
                    reasonMsg: _note
                };
                var pageUrl = ilms.routers.ResetUserPasswordByEmail;
                ilms.ajaxPostCall(pageUrl, dataObj, function (data) {
                    if (data) {
                        console.log(data);
                        ilms.notification(ilms.box.Success, 'Password reset successfuly for (' + _email + ').');
                        $('#modalResetPasswordNotes').modal('hide');
                    }
                    else {
                        ilms.notification(ilms.box.Error, 'Something went wrong! Please contact Support.');
                    }
                });
            }
        });

        $('#cancelResetPasswordDialog').on('click', '', function (e) {
            e.preventDefault();
            console.log('Clicked cancelResetPasswordDialog');
            $('#modalResetPasswordNotes').modal('hide');
        });

    });
</script>
